
#parent {
    /* width: 35%; */
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

#parent > div {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-radius: 10px;
    overflow: hidden;
    height: fit-content;
    margin-top: 0px;
    text-align: left;
}

#myheading {
    padding: 2px 0px;
    text-align: center;
    margin-bottom: 10px;
}
form {
    display: grid;
    grid-template-columns: 85%;
    justify-content: center;
}

input[type="text"], [type="email"], input[type="number"], input[type="password"],input[type="datetime-local"] {
    margin-bottom: 12px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
}
#message {
    margin-bottom: 12px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden; 
}

 input[type="submit"] {
    justify-content: center;
    margin: 8px auto;
    padding: 8px 0px;
    font-size: 18px;
    border-radius: 10px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    width: 60%;
    margin-bottom: 25px;
   
 }

 input[type="submit"]:hover {
    background-color: #2563eb;
 }

label {
    font-size: 20px;
    margin-bottom: 8px;
}


/* 
a {
    font-size: 22px;
    color: blue;
    text-decoration: none;
} */